.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;

}

.input{
    width: 80%;
    height: 1.6rem;
    border-radius: 5px;
    border: 1px solid #4c4c4c;
}

.input:hover{
    border: 1px solid lightblue;
}

.inputLabel{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.inputParcel{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    gap: 10px;
    width: 100%;
}

.numberOfParcel{
    color: rgb(86 86 85);
    font-size: 14px;
}

.btnSimulate{
   width: 82%;
   height: 1.5rem;
   border-radius: 5px;
   font-weight: 700;
   background-color: #6a8491;
   color: rgb(17 83 114);
   border: 1px solid black;
}

.btnSimulate:hover{
    background-color: lightblue;
    color: rgb(17 83 114);
}

@media (min-width:1024px){


}